body {
	background-color: #222;
	color: #fafafa;
	font-family: Cantarell, Ubuntu, Segoe UI, sans-serif;
}

.spin {
	animation: spin 5s infinite linear;
}

@keyframes spin {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.layout {
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.form label {
	display: block;
}
